.index-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 30px;
  display: block;
  text-align: center;
  border: none;
  color: rgb(83, 92, 106);
  text-shadow: 5px 5px 0px rgba(0,0,0,0.1);
}
.footer-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.img-upload-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background: #f7f7f7;
  border: 1px dashed #BFBFBF;
  border-radius: 4px;
  width: 10rem;
  height: 10rem;
  justify-content: center;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  background-color: darkcyan;
  opacity: 0;
}

.camera {
  width: 1.4rem;
  height: 1.3rem;
  background-size: 1.4rem 1.3rem;
}